# Friends Quotes

How many times are the chartacters catchphrases said?

In [2]:
import pandas as pd
import altair as alt

script = pd.read_csv("datasets/ALL_Dialogues_in_friends-2.csv")
script.head()

   Unnamed: 0                            Dialogue
0           0                 ﻿Ross was in love\n
1           1        with Rachel since forever.\n
2           2  Every time he tried to tell her,\n
3           3       something got in the way...\n
4           4       ...like cats, Italian guys.\n

In [3]:
script.describe()

         Unnamed: 0
count  47672.000000
mean   23835.500000
std    13761.865353
min        0.000000
25%    11917.750000
50%    23835.500000
75%    35753.250000
max    47671.000000

In [4]:
script.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47672 entries, 0 to 47671
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  47672 non-null  int64
 1   Dialogue    47672 non-null  object
dtypes: int64(1), object(1)
memory usage: 558.7+ KB

In [14]:
# test to find a string within a string
string = "Have courage and be kind."
substring = "courage"

if substring in string:
    print('Yes')
else:
    print("No")

sub_list = ["courage", "kindness", "blue", "and", "to", "love", "kind"]

for i in range(len(sub_list)):
    target = sub_list[i]
    if target in string:
        print(f"{target} is in string")
    else:
        print(f"{target} is not in string")

Yes
courage is in string
kindness is not in string
blue is not in string
and is in string
to is not in string
love is not in string
kind is in string

## character cathphrases

In [85]:
catchphrases = pd.read_csv("datasets/friends_catchphrases.csv")
catchphrases.head()

  character          phrase
0      Joey  How you doing?
1    Monica         I know!
2    Janice     Oh, my God!
3    Phoebe         Oh, no!
4    Phoebe         Oh, no.

In [86]:
phrase_list = catchphrases["phrase"].to_list()

['How you doing?', 'I know!', 'Oh, my God!', 'Oh, no!', 'Oh, no.', 'on a break']

In [87]:
amount_list = []

for phrase in phrase_list:
    amount = script["Dialogue"].str.contains(phrase).value_counts()[True]
    amount_list.append([phrase, amount])

[['How you doing?', 14], ['I know!', 23], ['Oh, my God!', 117], ['Oh, no!', 12], ['Oh, no.', 109], ['on a break', 5]]

## create new dataframe with catchphrase amounts

In [88]:
friends_data = pd.DataFrame(amount_list, columns=["phrase", "count"])
friends_data.head()

           phrase  count
0  How you doing?     14
1         I know!     23
2     Oh, my God!    117
3         Oh, no!     12
4         Oh, no.    109

## Chart

In [100]:
phrase_chart = (alt.Chart(friends_data).mark_bar(height=15, color="#59AF8A").encode(
    x="count",
    y=alt.Y("phrase", sort="-x"),
).properties(
    width=400,
    height=200,
    title={"text": "Amount Catchphrases have appeared in Dataset"}
))

phrase_text = phrase_chart.mark_text(
    align='left',
    baseline='middle',
    dx=3  # moves text to right so it doesn't appear on top of the bar
).encode(
    text='count:Q'
)

phrase_chart + phrase_text

alt.LayerChart(...)